$primary: #409eff !default;
$success: #3eaf7c !default;
$warning: #e6a23c !default;
$danger:  #f56c6c !default;
$info: #909399 !default;
$default:#dcdfe6 !default;

$border-color:#DCDFE6;
$font-color: rgba(0, 0, 0, 0.65);

// $primary-hover: lighten($primary,20%); 
// $success-hover: lighten($success,20%);
// $warning-hover:lighten($warning,20%); 
// $danger-hover: lighten($danger,20%);
// $info-hover: lighten($info,20%);

// $primary-active: lighten($primary,20%);
// $success-active: lighten($success,20%);
// $warning-active: lighten($warning,20%);
// $danger-active: lighten($danger,20%);
// $info-active: lighten($info,20%);

// $primary-focus: lighten($primary,20%);
// $success-focus: lighten($success,20%);
// $warning-focus: lighten($warning,20%);
// $danger-focus: lighten($danger,20%);
// $info-focus: lighten($info,20%);