.lb-dialog {
  @mixin box {
    padding: 15px 30px;
    box-sizing: border-box;
  }

  position: absolute;
  top: 100px;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 2001;
  background: white;
  box-sizing: border-box;
  border-radius: 6px;

  &_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include box;
    border-bottom: 1px solid #eee;

    &>i {
      cursor: pointer;
    }
  }

  &_main {
    @include box;
  }

  &_footer {
    @include box;
    border-top: 1px solid #eee;
  }
}

.lb-dialog-enter-active,
.lb-dialog-leave-active {
  transition: opacity 0.3s, transform 0.3s;
}

.lb-dialog-enter,
.lb-dialog-leave-to {
  opacity: 0;
  transform: translateY(-100px);
  // transform: translate(-50%, -100px);
}

.lb-dialog_model {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  height: 100%;
  width: 100%;
  z-index: 2000;
  background: rgba(0, 0, 0, 0.3);
}