

@import './icon//iconfont.css';
@import './color.scss';
@import './button.scss';
@import './switch.scss';
@import './pagination.scss';
@import './select.scss';
@import './option.scss';
@import './input.scss';
@import './rate.scss';
@import './swiper.scss';
@import './tree.scss';
@import './swiper-item.scss';
@import './date-picker.scss';
@import './dialog.scss';
@import './slider.scss';

