.lb-pagination {
    display: flex;
    &>[class*=lb-pagination_]{
      float: left;
    }
    // 下拉框的样式
    .lb-pagination_limit-list {
      .lb-select {
        width: 100px;
      }
      .lb-select-opiton__group {
        min-width: 110px;
      }
    }
  
    // 输入页码的输入框样式
    .lb-pagination_step-number {
      display: flex;
      line-height: 40px;
      .lb-input {
        width: 50px;
        .lb-input_inner {
          text-align: center;
        }
      }
      
      &>span:nth-of-type(1){
        margin-right: 5px;
        color: $font-color;
      }
      &>span:nth-of-type(2){
        margin-left: 5px;
        color: $font-color;
      }
    }
  
    .lb-pagination_page-index-box {
      display: flex;
    }
    .lb-pagination_page-every,
    .lb-pagination_prev,
    .lb-pagination_next {
      line-height: 40px;
      height: 40px;
      padding: 0 8px;
      color: $font-color;
      font-weight: 500;
      margin: 0 5px;
      cursor: pointer;
      &.disable{
          cursor: not-allowed;
          i{
            color: lighten($font-color,70%);
          }
      }
      &:hover{
          color: $primary;
      }
    }
    .lb-pagination_page-every.active{
        color: darken($primary,10%) ;
    }
    .lb-pagination_total{
        color: $font-color;
        line-height: 40px;
        height: 40px;
      padding: 0 8px;
      margin: 0 5px;
    }
  
  }