.lb-select {
    width: 240px;
    position: relative;
    /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/  
  ::-webkit-scrollbar  
  {  
      width: 10px;    
      background-color: #fff;  
  }  
  
  /*定义滚动条轨道 内阴影+圆角*/  
  ::-webkit-scrollbar-track  
  {  
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);  
      border-radius: 10px;  
      // background-color: lightgray;  
  }  
  
  /*定义滑块 内阴影+圆角*/  
  ::-webkit-scrollbar-thumb  
  {  
      border-radius: 10px;  
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);  
      background-color: lightgray;  
  }  
  /*定义最上方和最下方的按钮*/
  ::-webkit-scrollbar-button{
      //  background-color: #000;
      //  border:1px solid yellow
  }
  .lb-select-allow{
    position: absolute;
    right: 15px;
    z-index: 1;
    top: 14px;
    transform:rotate(0deg);
    cursor: pointer;
    transition: all .2s;
    transform-origin: center;
    &.rest{
      transform:rotate(180deg);
    }
  }

  }
  .lb-select-opiton__group {
    position: absolute;
    background: white;
    min-width: 240px;
    max-height: 274px;
    padding: 8px 0;
    border-radius: 6px;
    margin-top: 5px;
    overflow: auto;
    transition: all 0.2s ease-in;
    box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
    .lb-select-default__item {
      height: 50px;
    }
  }
  