.lb-swiper-box {
    margin: auto;
    width: 100%;
    position: relative;
    overflow: hidden;
    .lb-swiper-item {
      position: absolute;
      top: 0;
      left: 0;
    }
    .lb-swiper-item.show {
      z-index: 1;
    }
    .left,
    .right {
      z-index: 6;
      transition: all 0.5s;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background-color: rgba(255,255,255,.4);
      position: absolute;
      text-align: center;
      cursor: pointer;
      i{
        color: white;
        line-height: 50px;
        font-size: 30px;
      }
    }
    .circle-box {
      display: flex;
      justify-content: center;
      position: absolute;
      z-index: 6;
     
    }
    .circle {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      margin: 5px;
      background: white;
    }
    .activeCircle {
      background: orange;
    }
  }

  .lb-swiper_horizontal{
    &:hover {
      .left {
        left: 10px;
      }
      .right {
        right: 10px;
      }
    }
    .left {
      left: -50px;
    }
    .right {
      right: -50px;
    }
    .left,.right{
      top: 50%;
      transform: translateY(-50%);
    }
    .circle-box {
      bottom: 10px;
      left: 50%;
      flex-direction: row;
      transform: translateX(-50%);
    }
  }
  .lb-swiper_vertical{
    &:hover {
      .left {
        top: 10px;
      }
      .right {
        bottom: 10px;
      }
    }
    .left {
      top: -50px;
    }
    .right {
      bottom: -50px;
    }
    .left,.right{
      left: 50%;
      transform: translateX(-50%);
    }
    .circle-box {
      right: 10px;
      top: 50%;
      flex-direction: column;
      transform: translateY(-50%);
    }
  }